#############################################
#  Activ E-Book Compiler IE11 Mod           #
#  https://github.com/tajmone/aeb-ie11-mod  #
#############################################

*.exe
*.html
!docs/*.html

## PureBasic Files
##################
*.pb.cfg
*.pbi.cfg
*.pbp
project.cfg

## Apps Local Settings & Temp Files
###################################

# Chrome's debug logs for local HTML pages:
debug.log

## Misc Work Files
##################

# Temporary/backup or removed files and folders:
___*
___*.*

# Links and URLs
*.lnk
*.url


# ==============================================================================
#                             COMMON IGNORE PATTERNS
# ==============================================================================
# Common ignore patterns for Windows, Linux and macOS.

$RECYCLE.BIN/
*.stackdump
*~
._*
.AppleDouble
.directory
.DS_Store
.fuse_hidden*
.LSOverride
.nfs*
.Trash-*
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
Icon
Thumbs.db
Thumbs.db:encryptable
